flows.json
[{"id":"3de7c4a1.13646c","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"8a757313.93081","type":"ibmiot in","z":"3de7c4a1.13646c","authentication":"apiKey","apiKey":"d69c3480.536078","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"54321","applicationId":"","deviceType":"ESP32","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":210,"y":200,"wires":[["2dc7da7d.39ed36"]]},{"id":"1a7040a7.e1b54f","type":"debug","z":"3de7c4a1.13646c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":200,"wires":[]},{"id":"2dc7da7d.39ed36","type":"function","z":"3de7c4a1.13646c","name":"","func":"var name = msg.payload.name\nvar lat = msg.payload.lat\nvar lon = msg.payload.lon\nglobal.set('latitude',lat)\nglobal.set('longitude',lon)\nglobal.set('name',name)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":200,"wires":[["1a7040a7.e1b54f","bac91aa5.a327c8"]]},{"id":"bac91aa5.a327c8","type":"function","z":"3de7c4a1.13646c","name":"","func":"msg.payload = {\n    'name':global.get('name'),\n    'lat':global.get('latitude'),\n    'lon':global.get('longitude')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":300,"wires":[["53e27f3a.0b353","746aa512.dd2c5c"]]},{"id":"25d13f1c.9b17f","type":"function","z":"3de7c4a1.13646c","name":"","func":"msg.payload = msg.location.inarea\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":480,"wires":[["d84f3da8.309d2"]]},{"id":"d84f3da8.309d2","type":"rbe","z":"3de7c4a1.13646c","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":430,"y":480,"wires":[["da88c264.3bb9"]]},{"id":"da88c264.3bb9","type":"switch","z":"3de7c4a1.13646c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":640,"wires":[["ea63c9e8.7aa9c8","be27d720.92d878"],["990e33c6.f1924"]]},{"id":"ea63c9e8.7aa9c8","type":"function","z":"3de7c4a1.13646c","name":"","func":"msg.payload = \"Alert! Child is out of the Geofence\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":600,"wires":[["6ccf490a.789f78","e24b9957.e25798","1fc77f22.0c7eb1"]]},{"id":"be27d720.92d878","type":"function","z":"3de7c4a1.13646c","name":"","func":"var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset()*60000);\n\nvar offset = 5.5;\n\nnewDate = new Date(utc + (3600000*offset));\n\nmsg.payload = {\n    \"message\":\"Exit\",\n    \"Time\":newDate.toLocaleString(),\n    \"name\":global.get('name'),\n    \"lat\":global.get('latitude'),\n    \"lon\":global.get('longitude')\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":660,"wires":[["6e3f398a.2d63e8","84bd9c1.2a9c46"]]},{"id":"990e33c6.f1924","type":"function","z":"3de7c4a1.13646c","name":"","func":"var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset()*60000);\n\nvar offset = 5.5;\n\nnewDate = new Date(utc + (3600000*offset));\n\nmsg.payload = {\n    \"message\":\"Entry\",\n    \"Time\":newDate.toLocaleString(),\n    \"name\":global.get('name'),\n    \"lat\":global.get('latitude'),\n    \"lon\":global.get('longitude')\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":720,"wires":[["6e3f398a.2d63e8"]]},{"id":"6e3f398a.2d63e8","type":"debug","z":"3de7c4a1.13646c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":720,"wires":[]},{"id":"6ccf490a.789f78","type":"ui_toast","z":"3de7c4a1.13646c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":670,"y":600,"wires":[[]]},{"id":"e24b9957.e25798","type":"http request","z":"3de7c4a1.13646c","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=Ldsyu01M8CARe4xbi2TWN3PZYUrOnqDj9hfHVgK7BcIkXzoEpJRO2YoQiIrEcPk4tlWz5Ud7uCayXGhw&route=q&message=Alert&language=english&flash=0&numbers=6300663008","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":540,"wires":[["1fc77f22.0c7eb1"]]},{"id":"1fc77f22.0c7eb1","type":"debug","z":"3de7c4a1.13646c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":440,"wires":[]},{"id":"53e27f3a.0b353","type":"ui_worldmap","z":"3de7c4a1.13646c","group":"2a213e90.91caf2","order":1,"width":0,"height":0,"name":"","lat":"lat","lon":"lon","zoom":"14","layer":"Esri","cluster":"","maxage":"","usermenu":"hide","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":690,"y":300,"wires":[]},{"id":"746aa512.dd2c5c","type":"geofence","z":"3de7c4a1.13646c","name":"","mode":"circle","inside":"both","rad":49.211521882395,"points":[],"centre":{"latitude":17.42265693214669,"longitude":78.54889869689941},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":370,"y":400,"wires":[["25d13f1c.9b17f"]]},{"id":"84bd9c1.2a9c46","type":"cloudant out","z":"3de7c4a1.13646c","name":"","cloudant":"","database":"location","service":"supreeth-avula-cloudant-1621495138560-92483","payonly":false,"operation":"insert","x":720,"y":660,"wires":[]},{"id":"d69c3480.536078","type":"ibmiot","name":"GCET","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"2a213e90.91caf2","type":"ui_group","name":"Home Page","tab":"51daa016.77c0c","order":1,"disp":true,"width":19,"collapse":false},{"id":"51daa016.77c0c","type":"ui_tab","name":"Child Location","icon":"dashboard","disabled":false,"hidden":false}]